---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});
posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<MainLayout title="Welcome to my site">
  <div class="border-b pb-4">
    Hello, I'm Suyash Mohan, a software developer with deep passion for building
    robust and scalable software solutions.
  </div>
  <div class="pt-4">
    <span class="text-lg text-gray-400 border-b">List of my blog posts</span>
  </div>
  {
    posts.map(({ slug, data }) => (
      <div class="py-4">
        <a
          href={`/posts/${slug}`}
          class="hover:border-b border-gray-900 text-lg"
        >
          {data.title}
        </a>
        <div class="text-sm text-gray-400">{data.date.toDateString()}</div>
      </div>
    ))
  }
</MainLayout>
