---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});
posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<MainLayout title="Welcome to my site">
  {
    posts.map(({ slug, data }) => (
      <a href={`/posts/${slug}`} class="hover:underline">
        <h1 class="">{data.title}</h1>
      </a>
    ))
  }
</MainLayout>
