---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=inter:400"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="font-inter container max-w-screen-md mx-auto">
    <header class="mb-4 py-4 border-b">
      <nav>
        <ul class="flex flex-row justify-between">
          <ol><a href="/">Home</a></ol>
        </ul>
      </nav>
    </header>
    <slot />
    <footer class="mt-4 py-4 border-t">Copyright 2023</footer>
  </body>
</html>
