---
import "@fontsource/oxygen";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="container max-w-screen-md mx-auto bg-gray-50">
    <header class="mb-4 py-4 border-b">
      <div class="py-8">
        <div class="text-3xl font-bold">
          <a href="/">Suyash's Blog</a>
        </div>
      </div>
    </header>
    <slot />
    <footer class="mt-4 py-4 border-t">Copyright 2023 - Suyash Mohan</footer>
  </body>
</html>
